# Python Introduction

In [ ]:
print("hello world")

hello world

In [ ]:
print("Salman Khan")

Salman Khan

In [ ]:
print(7)

7

In [ ]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [ ]:
print('Hello',1,4.5,True,sep ='/')

Hello/1/4.5/True

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end = '-')
print('world')

hello-world

# Data Types

In [ ]:
#integer
print(8)
# 1*10^308 - python supports
print(1e309)

8
inf

In [ ]:
#Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
#Text/String
print('Hello World')

Hello World

In [ ]:
#Complex
print(5+6j)

(5+6j)

In [ ]:
#list -> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
#Dictionary
print({'name':'Krishna','gender':'Female','weight':50})

{'name': 'Krishna', 'gender': 'Female', 'weight': 50}

In [ ]:
type(3)
type(3.6)

float

# Variables

In [ ]:
# c/c++
# int name = Salman

name = 'Salman'
print(name)

a = 5
b = 6

print(a + b)

Salman
11

In [ ]:
#Dynamic Typing
a = 5
#Static Typing
int a = 5

In [ ]:
#Dynamic Binding
a = 5
print(a)
a = 'Salman'
print(a)

#Static Binding
int a = 5

In [ ]:
a =1
b =2
c =3
print(a,b,c)

1 2 3

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c = 5
print(a,b,c)

5 5 5

# User Input

In [3]:
#static and Dynamic
input('Enter the first name')

Enter the first nameKrishna

'Krishna'

In [1]:
#take input from user and add two numbers
fnum = int(input('first number'))
snum = int(input('second number'))
result = fnum + snum
print(result)
print(type(fnum))

first number7
second number5
12
<class 'int'>

# Literals

In [3]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.7
print(a)
print(b)
print(c)
print(d)
print(float_1)

10
100
200
300
10.7

#Task1

In [16]:
print("Data", "science", "mentorship" , "program", sep="-", end = '-')
print("by","CampusX", sep = "-")

Data-science-mentorship-program-by-CampusX

In [17]:
c= int(input("Enter the celsius value"))
f = (c*9/5)+32
print(f)

Enter the celsius value5
41.0

In [20]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
x = a
a = b
b = x
print("a value", a)
print("b value", b)

Enter the first number5
Enter the second number8
a value 8
b value 5

In [21]:
x1 = int(input("Enter the first coordinate"))
x2 = int(input("Enter the second coordinate"))
y1 = int(input("Enter the first coordinate"))
y2 = int(input("Enter the second coordinate"))
distance = ((x2-x1)**2 + (y2-y1)**2)**0.5
print(distance)

Enter the first coordinate5
Enter the second coordinate4
Enter the first coordinate6
Enter the second coordinate7
1.4142135623730951

In [24]:
p = int(input("Enter the principal amount  "))
r = int(input("Enter the rate of interest  "))
t = int(input("Enter the time  "))
si = (p*r*t)/100
print(si)

Enter the principal amount  6
Enter the rate of interest  7
Enter the time  8
3.36

In [27]:
heads = int(input("Enter the number of heads  "))
legs = int(input("Enter the number of legs  "))
dogs = (legs - 2*heads)/2
chicken = heads - dogs
print("dogs = ",dogs)
print("chicken = ", chicken)

Enter the number of heads  4
Enter the number of legs  12
dogs =  2.0
chicken =  2.0

In [29]:
n = int(input("enter the number"))
sum = n*(n+1)*(2*n + 1)/6
print(sum)

enter the number8
204.0

In [30]:
a1 = int(input("enter the value  "))
a2 = int(input("enter the value  "))
n = int(input("enter the value  "))

d = a1 - a2

aN = a1 + (n-1)*d

print (aN)

enter the value  6
enter the value  5
enter the value  6
11

In [33]:
n1 = int(input("enter n1"))
n2 = int(input("enter n2"))
d1 = int(input("enter d1"))
d2 = int(input("enter d2"))

f1 = n1/d1
f2 = n2/d2

f = float(f1) + float(f2)

print(f)

enter n11
enter n21
enter d12
enter d23
0.8333333333333333

In [39]:
import math
H =  int(input("enter height of the Tank "))
L =  int(input("enter Widht of the Tank "))
B =  int(input("enter Breadth of the Tank "))

tank = H * L * B

h =  int(input("enter height of the Glass "))
r =  int(input("enter radius of the Glass 22"))

glass = math.pi * r**2 * h

num_glass = int (tank / glass)

print(num_glass)

enter height of the Tank 20
enter Widht of the Tank 20
enter Breadth of the Tank 0
enter height of the Glass 3
enter radius of the Glass 1
0